p {color:blue;}
#para1 {text-align: center;color: burlywood;}
.header
{
	text-align: center;
	color: black;
	background-color: gray
}
.data
{
	text-align: left;
	color: black;
	background-color: white
}

